<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-3494213-5', 'auto');
	
	ga('send', 'pageview');
}
</script>

        
        <link rel="stylesheet" href="https://codeinthehole.com/css/main.min.css">

        
        <link rel="alternate" href="/index.xml" type="application/rss+xml" title="David Winterbottom">

        
        <link href='https://fonts.googleapis.com/css?family=Signika+Negative:600' rel='stylesheet' type='text/css' />

        
        
        <title>Vim text-objects for Python development — David Winterbottom</title>

        <meta name="author" content="David Winterbottom">
        <meta name="description" content="The nouns of your Vim thought stream.">

    </head>

    <body>

        <article class="hentry" id="container">

<header>
    <div id="article_nav">
        <h5>
            <a href="/">home</a> | 
            <a href="/writing/">writing</a> | 
            <a href="https://til.codeinthehole.com">TIL</a> | 
            <span class="desktop_only"><a href="http://twitter.com/codeinthehole" title="Occasionally I say something interesting">tweets</a> |</span>
            <span class="desktop_only"><a href="/now/">now</a> |</span>
            <a href="/about/">about</a>
        </h5>
    </div>
</header>



<div id="main" role="main">

    <div id="content" class="article">

        <h1 id="article_title" class="entry-title">Vim text-objects for Python development</h1>

        <div class="byline desktop_only">
            by <a href="/about/" class="author vcard">David Winterbottom</a>
            on <time class="published" datetime="">Thursday, 13 June 2019</time>
        </div>
        <div class="byline mobile_only">
            by <a href="/about/" class="author vcard">David Winterbottom</a><br/>
            <span class="article_date">on <time class="published" datetime="">Thursday, 13 June 2019</time></span>
        </div>

        <div id="article_content" class="entry-content">
            <p><a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#text-objects">Text objects</a>, as in the <!-- raw HTML omitted -->iw<!-- raw HTML omitted --> from <!-- raw HTML omitted -->ciw<!-- raw HTML omitted -->
(&ldquo;change inner word&rdquo;), form an important part of your Vim mentalese<sup id="fnref:1"><a href="#fn:1" class="footnote-ref" role="doc-noteref">1</a></sup>. This post details those that I find most useful for Python and Django
development.</p>
<p>For brevity, the leading <!-- raw HTML omitted -->a<!-- raw HTML omitted --> (mnemonic: &ldquo;a&quot;n) or <!-- raw HTML omitted -->i<!-- raw HTML omitted --> (mnemonic: &ldquo;inner&rdquo;), that you combine with the following commands to form the full text-object, are omitted.</p>
<p>From core Vim:</p>
<ul>
<li><!-- raw HTML omitted -->w<!-- raw HTML omitted --> → a <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#word">word</a></li>
<li><!-- raw HTML omitted -->W<!-- raw HTML omitted --> → a <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#WORD">WORD</a></li>
<li><!-- raw HTML omitted -->t<!-- raw HTML omitted --> → a HTML/XML tag</li>
<li><!-- raw HTML omitted -->s<!-- raw HTML omitted --> → a <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#sentence">sentence</a></li>
<li><!-- raw HTML omitted -->p<!-- raw HTML omitted --> → a <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#paragraph">paragraph</a></li>
</ul>
<p>From the (highly recommended)  <a href="https://github.com/wellle/targets.vim"><code>wellle/targets.vim</code></a> plugin:</p>
<ul>
<li><!-- raw HTML omitted -->,<!-- raw HTML omitted --> <!-- raw HTML omitted -->.<!-- raw HTML omitted --> <!-- raw HTML omitted -->;<!-- raw HTML omitted --> <!-- raw HTML omitted -->:<!-- raw HTML omitted --> <!-- raw HTML omitted -->+<!-- raw HTML omitted --> <!-- raw HTML omitted -->-<!-- raw HTML omitted --> <!-- raw HTML omitted -->=<!-- raw HTML omitted --> <!-- raw HTML omitted -->~<!-- raw HTML omitted --> <!-- raw HTML omitted -->_<!-- raw HTML omitted --> <!-- raw HTML omitted -->*<!-- raw HTML omitted --> <!-- raw HTML omitted -->#<!-- raw HTML omitted --> <!-- raw HTML omitted -->/<!-- raw HTML omitted --> <!-- raw HTML omitted -->|<!-- raw HTML omitted -->
<!-- raw HTML omitted -->\<!-- raw HTML omitted --> <!-- raw HTML omitted -->&amp;<!-- raw HTML omitted --> <!-- raw HTML omitted -->$<!-- raw HTML omitted --> → an area of text delimited by
the given character (super useful).</li>
<li><!-- raw HTML omitted -->a<!-- raw HTML omitted --> → a function argument.</li>
</ul>
<p>Furthermore <a href="https://github.com/wellle/targets.vim"><code>wellle/targets.vim</code></a> overrides the built-in text objects to <em>seek to the next
occurence</em> of the text-object if the cursor isn&rsquo;t already within one. This is
useful.</p>
<p>From other language-agnostic, third-party text objects:</p>
<ul>
<li><!-- raw HTML omitted -->l<!-- raw HTML omitted --> → a line (via <a href="https://github.com/kana/vim-textobj-line"><code>kana/vim-textobj-line</code></a>)</li>
<li><!-- raw HTML omitted -->e<!-- raw HTML omitted --> → the entire buffer (via <a href="https://github.com/kana/vim-textobj-entire"><code>kana/vim-textobj-entire</code></a>) so you can, say,
indent the entire buffer with <!-- raw HTML omitted -->=ae<!-- raw HTML omitted -->.</li>
<li><!-- raw HTML omitted -->i<!-- raw HTML omitted --> → an indented block (via <a href="https://github.com/kana/vim-textobj-indent"><code>kana/vim-textobj-indent</code></a>). This
isn&rsquo;t quite as useful as it sounds for Python work as it stops at a blank line
within an indented block &ndash; still worth having to hand.</li>
<li><!-- raw HTML omitted -->c<!-- raw HTML omitted --> → a comment block (via <a href="https://github.com/glts/vim-textobj-comment"><code>glts/vim-textobj-comment</code></a>).</li>
</ul>
<p><a href="https://github.com/jeetsukumaran/vim-pythonsense"><code>jeetsukumaran/vim-pythonsense</code></a> provides some Python text objects:</p>
<ul>
<li><!-- raw HTML omitted -->f<!-- raw HTML omitted --> → a Python function</li>
<li><!-- raw HTML omitted -->c<!-- raw HTML omitted --> → a Python class<sup id="fnref:2"><a href="#fn:2" class="footnote-ref" role="doc-noteref">2</a></sup></li>
<li><!-- raw HTML omitted -->d<!-- raw HTML omitted --> → a Python docstring</li>
</ul>
<p>For editing Django templates (via <a href="https://github.com/mjbrownie/django-template-textobjects"><code>mjbrownie/django-template-textobjects</code></a>):</p>
<ul>
<li><!-- raw HTML omitted -->db<!-- raw HTML omitted --> → a <code>{% block ... %}...{% endblock %}</code> block</li>
<li><!-- raw HTML omitted -->di<!-- raw HTML omitted --> → a <code>{% if ... %}...{% endif %}</code> conditional block</li>
<li><!-- raw HTML omitted -->df<!-- raw HTML omitted --> → a <code>{% for ... %}...{% endfor %}</code> for loop block</li>
<li><!-- raw HTML omitted -->dv<!-- raw HTML omitted --> → a <code>{{ ... }}</code> variable</li>
<li><!-- raw HTML omitted -->dt<!-- raw HTML omitted --> → a <code>{% tagname ... %}</code> tag</li>
</ul>
<p>Several of the above plugins are built using <a href="https://github.com/kana/vim-textobj-user"><code>kana/vim-textobj-user</code></a>,
which provides a simple framework for building your own text-objects.</p>
<p>Useful references:</p>
<ul>
<li><a href="https://github.com/wellle/targets.vim/blob/master/cheatsheet.md">Cheatsheet for <code>wellle/targets.vim</code></a></li>
<li><a href="https://github.com/kana/vim-textobj-user/wiki">A list of all text-object plugins built with <code>kana/vim-textobj-user</code></a></li>
</ul>
<p>Related articles:</p>
<ul>
<li><a href="https://blog.carbonfive.com/2011/10/17/vim-text-objects-the-definitive-guide/">Vim Text Objects: The Definitive Guide</a>
by <em>Jared Carroll</em> (2011).</li>
<li><a href="http://codyveal.com/posts/vim-killer-features-part-1-text-objects/">Vim Killer Features Part 1: Text Objects</a>
by <em>Cody Veal</em> (2013).</li>
<li><a href="http://owen.cymru/vim-text-objects-extend-vims-natural-language-2/">Vim text objects, extend Vim&rsquo;s natural language!</a>
by <em>Owen Garland</em> (2017).</li>
</ul>
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<section class="footnotes" role="doc-endnotes">
<hr>
<ol>
<li id="fn:1" role="doc-endnote">
<p>In the sense that you combine them with <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#operator">operators</a>
(eg <!-- raw HTML omitted -->c<!-- raw HTML omitted -->, <!-- raw HTML omitted -->d<!-- raw HTML omitted -->, <!-- raw HTML omitted -->gU<!-- raw HTML omitted -->) to build describe what you want to do.&#160;<a href="#fnref:1" class="footnote-backref" role="doc-backlink">&#x21a9;&#xfe0e;</a></p>
</li>
<li id="fn:2" role="doc-endnote">
<p>To avoid clashing with the comment text-object binding from <a href="https://github.com/glts/vim-textobj-comment"><code>glts/vim-textobj-comment</code></a>, you
can rebind the class text object to, say, <!-- raw HTML omitted -->C<!-- raw HTML omitted --> with:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">map <span style="color:#f92672">&lt;</span>buffer<span style="color:#f92672">&gt;</span> aC <span style="color:#f92672">&lt;</span>Plug<span style="color:#f92672">&gt;</span>(PythonsenseOuterClassTextObject)
map <span style="color:#f92672">&lt;</span>buffer<span style="color:#f92672">&gt;</span> iC <span style="color:#f92672">&lt;</span>Plug<span style="color:#f92672">&gt;</span>(PythonsenseInnerClassTextObject)
</code></pre></div>&#160;<a href="#fnref:2" class="footnote-backref" role="doc-backlink">&#x21a9;&#xfe0e;</a></li>
</ol>
</section>

        </div>

        <div id="article_meta">
            <span class="hr">——————</span>
            <p>
            Something wrong? 
            <a href="https://github.com/codeinthehole/codeinthehole.hugo/edit/master/content/tips/vim-text-objects.md">Suggest an improvement</a>
            or 
            <a href="https://github.com/codeinthehole/codeinthehole.hugo/issues/new?title=Comment%20on%20%22Vim%20text-objects%20for%20Python%20development%22&body=Article:%20Vim%20text-objects%20for%20Python%20development%0AURL:%20https%3a%2f%2fcodeinthehole.com%2ftips%2fvim-text-objects%2f">add a comment</a>
            (see <a href="https://github.com/codeinthehole/codeinthehole.hugo/commits/master/content/tips/vim-text-objects.md">article history</a>)<br/>

            
                Tagged with:
                
                 <a href="/tags/vim">vim</a>, <a href="/tags/django">django</a>, <a href="/tags/python">python</a>
                <br/>
            
            
                Filed in: <a href="/tips/">tips</a>
            
            </p>

            <p>
            
                Previous: <a href="/tips/debugging-vim-by-example/">Debugging Vim by example</a><br/>
            
            
                Next: <a href="/tips/software-development-tips-part1/">Software development tips – part 1</a>
            
            </p>

            <p>
            Copyright &copy; 2005-2022 <a href="/about/">David Winterbottom</a><br/>
            Content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.
            </p>
        </div>
    </div>

</div>

        </article>
    </body>

    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.js"></script>
    <script type="text/javascript">
        if (document.querySelectorAll('#article_content').length) {
            anchors.add('h2,h3,h4');
        }
    </script>

</html>

