<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-3494213-5', 'auto');
	
	ga('send', 'pageview');
}
</script>


        
        <link rel="stylesheet" href="/css/styles.css?1583485337" type="text/css" />
        <link rel="stylesheet" href="/css/pygments.css" type="text/css" />

        
        <link rel="alternate" href="/index.xml" type="application/rss+xml" title="David Winterbottom">

        
        <link href='https://fonts.googleapis.com/css?family=Signika+Negative:600' rel='stylesheet' type='text/css' />

        
        
        <title>Command-line tips for effective release announcements - David Winterbottom</title>

        <meta name="author" content="David Winterbottom">
        <meta name="description" content="Git tips for writing release notes">

    </head>

    <body>

        <article class="hentry" id="container">

<header>
    <div id="article_nav">
        <h5>
            <a href="/">home</a> | 
            <a href="/writing/">writing</a> | 
            <a href="http://twitter.com/codeinthehole" title="Occasionally I say something interesting">tweets</a> | 
            <a href="/about/">about</a>
        </h5>
    </div>
</header>



<div id="main" role="main">

    <div id="content" class="article">

        <h1 id="article_title" class="entry-title">Command-line tips for effective release announcements</h1>

        <div class="byline desktop_only">
            by <a href="/about/" class="author vcard">David Winterbottom</a>
            on <time class="published" datetime="">Thursday, 16 January 2014</time>
        </div>
        <div class="byline mobile_only">
            by <a href="/about/" class="author vcard">David Winterbottom</a><br/>
            <span class="article_date">on <time class="published" datetime="">Thursday, 16 January 2014</time></span>
        </div>

        <div id="article_content" class="entry-content">
            

<p>We finally <a href="http://django-oscar.readthedocs.org/en/latest/releases/v0.6.html">released Oscar
0.6</a>
last week. The process brought home the importance of writing your
release notes as you go rather than at the end. It&rsquo;s a real pain to
extract the key changes from 1200 commits spread over the last 8 months.
Lesson learnt.</p>

<p>This article is largely a note-to-self in case I have to repeat the
process. However, if you do find yourself in a similar position, here
are a few command-line tricks for analysing your git history.</p>

<h3 id="analysing-codebase-changes-since-a-tag">Analysing codebase changes since a tag</h3>

<p>Basics: browse commits since the last tagged release</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ git log 0.5..0.6</code></pre></div>
<p>The <code>--name-status</code> option for <code>git diff</code> is useful for analysing
codebase changes between two commits. For instance, you can view changes
to a particular directory:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ git diff --name-status 0.5..0.6 oscar/apps/address</code></pre></div>
<p>which can be useful if thousands of files have changed and you want to
review each package individually.</p>

<p>Extensions include finding deleted files:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ git diff --name-status 0.5..0.6 | grep <span style="color:#e6db74">&#34;^D&#34;</span></code></pre></div>
<p>or all new migration files:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ git diff --name-status 0.5..0.6 | grep <span style="color:#e6db74">&#34;^A.*migrations/[0-9]&#34;</span></code></pre></div>
<p>which is important for projects like Oscar which ship with database
migrations.</p>

<h3 id="determine-changes-template-block-names">Determine changes template block names</h3>

<p>Since Oscar allows customisation of templates and overriding template
blocks, we try and document any changes to template block names. The
process here is more involved and requires two temporary files generated
with this command:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ grep -or <span style="color:#e6db74">&#34;{% block .* %}&#34;</span> oscar/templates/oscar | <span style="color:#ae81ff">\
</span><span style="color:#ae81ff"></span>    awk <span style="color:#e6db74">&#39;BEGIN {FS=&#34;:&#34;} {split($2, parts, &#34; &#34;); print $1, parts[3]}&#39;</span></code></pre></div>
<p>This writes out each pairs of filename and template block name:</p>
<pre><code>oscar/templates/oscar/403.html title
oscar/templates/oscar/403.html error_heading
oscar/templates/oscar/403.html error_message
oscar/templates/oscar/404.html title
oscar/templates/oscar/404.html error_heading
oscar/templates/oscar/404.html error_message
...</code></pre>
<p>To compare the template blocks from each release, we create two
temporary files and analyse the diff:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ git checkout 0.5
$ grep -or <span style="color:#e6db74">&#34;{% block .* %}&#34;</span> oscar/templates/oscar | <span style="color:#ae81ff">\
</span><span style="color:#ae81ff"></span>    awk <span style="color:#e6db74">&#39;BEGIN {FS=&#34;:&#34;} {split($2, parts, &#34; &#34;); print $1, parts[3]}&#39;</span> &gt;
    /tmp/templates-0.5.txt
$ git checkout 0.6
$ grep -or <span style="color:#e6db74">&#34;{% block .* %}&#34;</span> oscar/templates/oscar | <span style="color:#ae81ff">\
</span><span style="color:#ae81ff"></span>    awk <span style="color:#e6db74">&#39;BEGIN {FS=&#34;:&#34;} {split($2, parts, &#34; &#34;); print $1, parts[3]}&#39;</span> &gt;
    /tmp/templates-0.6.txt
$ vimdiff /tmp/templates-0.<span style="color:#f92672">{</span>5,6<span style="color:#f92672">}</span>.txt</code></pre></div>
<p>I imagine there&rsquo;s a better way to do this but I couldn&rsquo;t find one.</p>

<div class="admonition note">
    This is a Django specific technique, but the general approach is quite
    useful for analysing changes between two codebases.
</div>

<h3 id="updating-an-authors-files">Updating an <code>AUTHORS</code> files</h3>

<p>Oscar&rsquo;s <code>AUTHORS</code> file contains all contributors with 15 or more commits
in the master branch. We generate this file automatically.</p>

<p>You can sort authors by number of commits:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ git shortlog -sn master | head
  <span style="color:#ae81ff">2992</span>  David Winterbottom
   <span style="color:#ae81ff">355</span>  Maik Hoepfel
   <span style="color:#ae81ff">167</span>  Sebastian Vetter
   <span style="color:#ae81ff">166</span>  Jon Price
   <span style="color:#ae81ff">120</span>  Andrew Ingram
    <span style="color:#ae81ff">73</span>  Asia Biega
    <span style="color:#ae81ff">65</span>  Oliver Randell
    <span style="color:#ae81ff">49</span>  Eleni Lixourioti
  ...</code></pre></div>
<p>and extend this to find authors with more than a certain number of
commits</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ THRESHOLD<span style="color:#f92672">=</span><span style="color:#ae81ff">15</span>
$ git shortlog -sn master | awk <span style="color:#e6db74">&#39;$1 &gt;= $THRESHOLD {$1=&#34;&#34;;print $0}&#39;</span> | cut -d<span style="color:#e6db74">&#34; &#34;</span> -f2-</code></pre></div>
<p>Note, <code>git shortlog</code> uses a <code>.mailmap</code> file to aggregate commits from
the same committer where their name or email were different in the
commit history.</p>

<p>Using this command, we can create a new <code>AUTHORS</code> file containing all
contributors with greater than 15 commits on the master branch:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ git shortlog -ns master | awk <span style="color:#e6db74">&#39;$1 &gt;= $THRESHOLD {$1=&#34;&#34;;print $0}&#39;</span> | <span style="color:#ae81ff">\
</span><span style="color:#ae81ff"></span>    cut -d<span style="color:#e6db74">&#34; &#34;</span> -f2- &gt; AUTHORS</code></pre></div>
<h3 id="notifying-contributors">Notifying contributors</h3>

<p>If you have a patch accepted into a project, it&rsquo;s useful to know when a
formal release has been cut that includes said patch. Before then, you
might be linking your project to a fork and maintaining a work-around
within your codebase.</p>

<p>As the project maintainer, you might assume that such people are already
subscribed to your project mailing list, or following your project
Twitter stream. However, there&rsquo;s a more thorough way to notify
contributors that their patch is in a release: you can email them.</p>

<p>To do this, extract the email addresses of committers whose patches are
in the new release:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ git log 0.5..0.6 --format<span style="color:#f92672">=</span><span style="color:#e6db74">&#39;%aE&#39;</span> | sort | uniq</code></pre></div>
<p>and CC these addresses in your mailing list release announcement.</p>

<p>Even better, you can only grab the addresses of <em>new</em> contributors to
the project, where the release is the first to contain one of their
commits. We do this by extracting two lists of email addresses and
employing the lovely but neglected <code>comm</code> command to pluck the email
addresses that only exist in the latest release:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ comm -13 &lt;<span style="color:#f92672">(</span>git log 0.5 --format<span style="color:#f92672">=</span><span style="color:#e6db74">&#39;%aE&#39;</span> | sort | uniq<span style="color:#f92672">)</span> <span style="color:#ae81ff">\
</span><span style="color:#ae81ff"></span>    &lt;<span style="color:#f92672">(</span>git log 0.5..0.6 --format<span style="color:#f92672">=</span><span style="color:#e6db74">&#39;%aE&#39;</span> | sort | uniq<span style="color:#f92672">)</span></code></pre></div>
<p>Note the first input is all contributors up to release 0.5, while the
second is contibutors to the 0.6 release only.</p>

<p><code>comm</code> is an extremely useful command for selecting lines common between
two files, or exclusive to one. The <code>-13</code> options indicate to exclude
lines exclusive to the first file (<code>-1</code>) and lines common to both
(<code>-3</code>).</p>

<h3 id="summarising-changes">Summarising changes</h3>

<p>If your release isn&rsquo;t large, your release notes could include a summary
of the contained commits; this is useful for minor point releases. You
can use <code>git shortlog</code> to do this:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ git shortlog 0.5..0.6 --no-merges
David Winterbottom <span style="color:#f92672">(</span>661<span style="color:#f92672">)</span>:
      Add defaults to the counts on the product summary dashboard page
      Tidy up urls.py and settings.py
      Use mirrors when pip installing the demo site
      Install django-oscar-stores
      Add link to stores page in footer
...</code></pre></div>
<p>You can even use <code>--format</code> to provide links to Github commits:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ git shortlog 0.3.4..0.4 --no-merges --format<span style="color:#f92672">=</span><span style="color:#e6db74">&#34;%s (https://github.com/tangentlabs/django-oscar-stores/commit/%h)&#34;</span> </code></pre></div>
<p>This won&rsquo;t always be appropriate if your release if there are thousands
of commits.</p>

        </div>

        <div id="article_meta">
            <span class="hr">----</span>
            <p>
            Something wrong? 
            <a href="https://github.com/codeinthehole/codeinthehole.hugo/edit/master/content/tips/better-release-announcements.md">Suggest an improvement</a>
            or 
            <a href="https://github.com/codeinthehole/codeinthehole.hugo/issues/new?title=Comment%20on%20%22Command-line%20tips%20for%20effective%20release%20announcements%22&body=Article:%20Command-line%20tips%20for%20effective%20release%20announcements%0AURL:%20https%3a%2f%2fcodeinthehole.com%2ftips%2fcommand-line-tips-for-effective-release-announcements%2f">add a comment</a>
            (see <a href="https://github.com/codeinthehole/codeinthehole.hugo/commits/master/content/tips/better-release-announcements.md">article history</a>)<br/>

            
                Tagged with:
                
                 <a href="/tags/git">git</a>, <a href="/tags/commandlinefu">commandlinefu</a>, <a href="/tags/django">django</a>, <a href="/tags/django-oscar">django-oscar</a>
                <br/>
            
            
                Filed in: <a href="/tips/">tips</a>
            
            </p>

            <p>
            
                Previous: <a href="/tips/how-to-install-postgis-and-geodjango-on-ubuntu/">How to install PostGIS and GeoDjango on Ubuntu</a><br/>
            
            
                Next: <a href="/projects/the-road-to-oscar-10/">The road to Oscar 1.0</a>
            
            </p>

            <p>
            Copyright &copy; 2005-2020 <a href="/about/">David Winterbottom</a><br/>
            Content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.
            </p>
        </div>
    </div>

</div>

        </article>
    </body>

    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.js"></script>
    <script type="text/javascript">
        if (document.querySelectorAll('#article_content').length) {
            anchors.add('h2,h3,h4');
        }
    </script>

</html>

